@import url("../src/assets/fonts/stylesheet.css");
:root {
  --roboto: "Roboto";
  --robotoC: "Roboto Condensed";
  
}
.font-face-pp {
  font-family: "Poppine";
}

.font-face-poppine-regular{
  font-family: "Poppine regular";
}




/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}



